<nav class="site-nav">
    <a href="https://jakelunniss.com/recipes/" class="site-nav-brand">The Heavy Life <em>Recipes</em></a>
    <ul class="site-nav-links">
        <li><a href="https://jakelunniss.com/recipes/">Home</a></li>
        <li><a href="https://jakelunniss.com/recipes/equipment">Equipment</a></li>
        <li><a href="https://jakelunniss.com/recipes/nutrition">Nutrition</a></li>
        <li><a href="https://jakelunniss.com/recipes/sprouting">Sprouting</a></li>
        <li><a href="https://jakelunniss.com/recipes/fermenting">Fermenting</a></li>
        <li><a href="https://jakelunniss.com/" class="site-nav-back">← Heavy Life</a></li>
    </ul>
</nav>
