<div class="top-return-link">
    <a href="https://jakelunniss.com/">< Back to Heavy Life</a>
</div>
<div class="header-wrapper">
  <header class="grimgrains-header">
    <div class="logo-container">
      <a href="/" class="site-logo">
        <div class="placeholder-logo">Lunniss Family Recipes</div>
      </a>
    </div>

    <nav class="grimgrains-nav">
      <div class="nav-links">
        <a href="/" class="nav-item">Recipes Home</a>
        <a href="/about" class="nav-item">About</a>
        <a href="/equipment" class="nav-item">Equipment</a>
        <a href="/nutrition" class="nav-item">Nutrition</a>
        <a href="/sprouting" class="nav-item">Sprouting</a>
        <a href="/fermenting" class="nav-item">Fermenting</a>
      </div>
    </nav>
  </header>
</div>
