<div class="top-return-link">
    <a href="https://jakelunniss.com/">< Back to Heavy Life</a>
</div>

<div class="header-wrapper">
  <header class="grimgrains-header">
    <div class="logo-container">
      <a href="/" class="site-logo">
        <img src="https://jakelunniss.com/recipes/img/fagor_logo2.jpg" alt="Lunniss Family Recipes" class="placeholder-logo">
      </a>
    </div>

    <nav class="grimgrains-nav">
      <div class="nav-links">
        <a href="/" class="nav-item">Recipes Home</a>
        <a href="/equipment" class="nav-item">Equipment</a>
        <a href="/nutrition" class="nav-item">Nutrition</a>
        <a href="/sprouting" class="nav-item">Sprouting</a>
        <a href="/fermenting" class="nav-item">Fermenting</a>
      </div>
    </nav>
  </header>
</div>
